body {
  background: lightgrey;
}

h1 {
  text-align: center;
}
input {
  display: inline;
  width: 400px;
}

span {
  background: red;
  width: 150px;
}

main {
   margin: 0 auto;
   border : 1px solid red;
   width: 992px;
   padding: 10px;
}

.section {
   
}

.section.section1 {
   display: flex;
   justify-content: space-around;
}

.section.section1 .block {
   border: 1px solid blue;
   width: calc(480px / 2 - 20px);
   height: 220px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 64px;
   
   color: white;
}

.section.section2 {
  margin-top: 20px;
   display: flex;
   justify-content: space-around;
}

.section.section2 .block {
   border: 1px solid green;
   width: calc(480px / 3 - 20px);
   height:200px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 64px;
   
   color: white;
}

@media screen and (max-width:479px) {
   main {
      width: auto;
   }
   .section.section1 {
      flex-wrap: wrap !important;
      height: auto;
   }
   .section.section2 {
      flex-wrap: wrap !important;
      height: auto;
   }
   .section.section2 .block {
      margin-top : 0px;
   }
   .section.section2 .block:not(:first-child) {
      margin-top : 10px;
   }
   .section.section1 .block {
      margin-top : 10px;
   }
   .section.section1 .block:not(:last-child) {
      margin-top : 0px;
   }
}

.section2 .block:nth-child(2n + 1) {
   background-color: red;
}

.section1 .block {
   background-color: blue;
}

.section1 .block:first-child:hover {
   background-color: transparent;
   color: blue;
   cursor: pointer;
}
.section1 .block:first-child {
   position: relative;
}
.section1 .block:first-child::after {
   content: "";
   width: 0px;
   height: 5px;
   background-color: red;
   position: absolute;
   top: 100%;
   left: 0;
   transition: all 1s ease-in-out;
}

.section1 .block:first-child:hover::after {
   width: 100%;
   transition: all 1s ease-in-out;
}





